### Import Dependencies

In [1]:
import numpy as numpy
import pandas as pd
import os
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

from flask import (
    Flask,
    render_template,
    jsonify,
    request, 
    redirect)

In [2]:
#################################################
# Database Setup
#################################################
engine = create_engine("sqlite:///DataSets/belly_button_biodiversity.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to the table
OTU = Base.classes.otu
Samples = Base.classes.samples
MD = Base.classes.samples_metadata

# Create our session (link) from Python to the DB
session = Session(engine)

In [3]:
inspector = inspect(engine)
inspector.get_table_names()

['otu', 'samples', 'samples_metadata']

In [4]:
columns = inspector.get_columns('otu')
for c in columns:
    print(c['name'], c['type'])

otu_id INTEGER
lowest_taxonomic_unit_found TEXT

In [5]:
columns = inspector.get_columns('samples')
listy = []
for c in columns:
    listy.append(c['name'])
    
print(listy)

['otu_id', 'BB_940', 'BB_941', 'BB_943', 'BB_944', 'BB_945', 'BB_946', 'BB_947', 'BB_948', 'BB_949', 'BB_950', 'BB_952', 'BB_953', 'BB_954', 'BB_955', 'BB_956', 'BB_958', 'BB_959', 'BB_960', 'BB_961', 'BB_962', 'BB_963', 'BB_964', 'BB_966', 'BB_967', 'BB_968', 'BB_969', 'BB_970', 'BB_971', 'BB_972', 'BB_973', 'BB_974', 'BB_975', 'BB_978', 'BB_1233', 'BB_1234', 'BB_1235', 'BB_1236', 'BB_1237', 'BB_1238', 'BB_1242', 'BB_1243', 'BB_1246', 'BB_1253', 'BB_1254', 'BB_1258', 'BB_1259', 'BB_1260', 'BB_1264', 'BB_1265', 'BB_1273', 'BB_1275', 'BB_1276', 'BB_1277', 'BB_1278', 'BB_1279', 'BB_1280', 'BB_1281', 'BB_1282', 'BB_1283', 'BB_1284', 'BB_1285', 'BB_1286', 'BB_1287', 'BB_1288', 'BB_1289', 'BB_1290', 'BB_1291', 'BB_1292', 'BB_1293', 'BB_1294', 'BB_1295', 'BB_1296', 'BB_1297', 'BB_1298', 'BB_1308', 'BB_1309', 'BB_1310', 'BB_1374', 'BB_1415', 'BB_1439', 'BB_1441', 'BB_1443', 'BB_1486', 'BB_1487', 'BB_1489', 'BB_1490', 'BB_1491', 'BB_1494', 'BB_1495', 'BB_1497', 'BB_1499', 'BB_1500', 'BB_1501', 'BB_1502', 'BB_1503', 'BB_1504', 'BB_1505', 'BB_1506', 'BB_1507', 'BB_1508', 'BB_1510', 'BB_1511', 'BB_1512', 'BB_1513', 'BB_1514', 'BB_1515', 'BB_1516', 'BB_1517', 'BB_1518', 'BB_1519', 'BB_1521', 'BB_1524', 'BB_1526', 'BB_1527', 'BB_1530', 'BB_1531', 'BB_1532', 'BB_1533', 'BB_1534', 'BB_1535', 'BB_1536', 'BB_1537', 'BB_1539', 'BB_1540', 'BB_1541', 'BB_1542', 'BB_1543', 'BB_1544', 'BB_1545', 'BB_1546', 'BB_1547', 'BB_1548', 'BB_1549', 'BB_1550', 'BB_1551', 'BB_1552', 'BB_1553', 'BB_1554', 'BB_1555', 'BB_1556', 'BB_1557', 'BB_1558', 'BB_1561', 'BB_1562', 'BB_1563', 'BB_1564', 'BB_1572', 'BB_1573', 'BB_1574', 'BB_1576', 'BB_1577', 'BB_1581', 'BB_1601']

In [6]:
columns = inspector.get_columns('samples_metadata')
for c in columns:
    print(c['name'], c['type'])

SAMPLEID INTEGER
EVENT TEXT
ETHNICITY TEXT
GENDER TEXT
AGE INTEGER
WFREQ INTEGER
BBTYPE TEXT
LOCATION TEXT
COUNTRY012 TEXT
ZIP012 INTEGER
COUNTRY1319 TEXT
ZIP1319 INTEGER
DOG TEXT
CAT TEXT
IMPSURFACE013 INTEGER
NPP013 FLOAT
MMAXTEMP013 FLOAT
PFC013 FLOAT
IMPSURFACE1319 INTEGER
NPP1319 FLOAT
MMAXTEMP1319 FLOAT
PFC1319 FLOAT

In [7]:
# session.query(OTU.lowest_taxonomic_unit_found).all()

In [ ]:
# samplenames = sample_names[1:]
# print(samplenames)

In [39]:
def metadata(metainput):
    for AGE, BBTYPE, ETHNICITY, GENDER, LOCATION, SAMPLEID in \
    session.query(MD.AGE, MD.BBTYPE, MD.ETHNICITY, MD.GENDER, MD.LOCATION, MD.SAMPLEID).\
       filter_by(SAMPLEID = metainput[3:]):

        metadict = {'AGE': AGE,
                   "BBTY": BBTYPE,
                   'ETHINICITY': ETHNICITY,
                   'GENDER': GENDER,
                   'LOCATION': LOCATION,
                   'SAMPLEID': f'BB_{str(SAMPLEID)}'
                   }
    
        return metadict
print(metadata('BB_940'))

{'AGE': 24, 'BBTY': 'I', 'ETHINICITY': 'Caucasian', 'GENDER': 'F', 'LOCATION': 'Beaufort/NC', 'SAMPLEID': 'BB_940'}

In [102]:
columns = inspector.get_columns('samples')
len(columns)
# for c in columns:
#     print(c['name'], c['type'])

154

In [ ]:
def wash_frequency(sample):

    for SAMPLEID, WFREQ in session.query(MD.SAMPLEID, MD.WFREQ).\
        filter_by(SAMPLEID = sample[3:]):
        return (WFREQ)

print(wash_frequency('BB_941'))

In [66]:
def samples(sample):
    results = session.query(Samples.otu_id, getattr(Samples, sample)).\
        filter(getattr(Samples, sample) >= 1 ).order_by(getattr(Samples, sample).desc()).all()
    samples_data = [{
        "otu_ids": [result[0] for result in results],
        "sample_values": [result[1] for result in results]
        }]
    return samples_data
samples('BB_941')

[{'otu_ids': [2722,
   944,
   2419,
   2539,
   3450,
   1795,
   2389,
   1314,
   922,
   1167,
   963,
   2859,
   2964,
   2308,
   2651,
   482,
   874,
   1870,
   2908,
   41,
   2264,
   352,
   728,
   1188,
   1926,
   1959,
   2782,
   189,
   261,
   296,
   555,
   710,
   854,
   939,
   1200,
   1310,
   1929,
   1977,
   2461,
   2500,
   2688,
   2704,
   2890,
   3312,
   301,
   307,
   308,
   314,
   562,
   641,
   730,
   801,
   820,
   830,
   919,
   920,
   930,
   1186,
   1199,
   1202,
   1213,
   1600,
   1672,
   1760,
   1824,
   1942,
   2077,
   2091,
   2275,
   2318,
   2340,
   2399,
   2404,
   2438,
   2551,
   2581,
   2632,
   2650,
   2660,
   2666,
   2672,
   2676,
   2682,
   2687,
   2764,
   2850,
   2927,
   3036,
   3120,
   3134,
   3389,
   3446,
   3458,
   3461],
  'sample_values': [194,
   178,
   162,
   92,
   84,
   40,
   37,
   28,
   27,
   24,
   21,
   21,
   13,
   10,
   10,
   8,
   8,
   5,
   5,
   4,
   4,
   3,
   3,
   3,
   3,
   3,
   3,
   2,
   2,
   2,
   2,
   2,
   2,
   2,
   2,
   2,
   2,
   2,
   2,
   2,
   2,
   2,
   2,
   2,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1,
   1]}]

In [57]:
def samples(test):
#     columns = len(inspector.get_columns('samples'))
# #     listy = []
#     for i in columns:
#         listy.append(columns[i]['name'])
#         if columns[i] != test:
#             i = i+1
#         else:

            results = session.query(Samples.otu_id, getattr(Samples, test)).\
                filter(getattr(Samples, test) >= 1 ).order_by(getattr(Samples, test).desc()).all()
            
#             results = session.query(Samples.otu_id, Samples.test).\
#                 filter(Samples.test >= 1 ).order_by(Samples.test.desc()).limit(10)
            samplessample = [{
                "otu_ids": [result[0] for result in results],
                "sample_values": [result[1] for result in results]
                }]
            return samplessample
print(samples('BB_941'))

[{'otu_ids': [2722, 944, 2419, 2539, 3450, 1795, 2389, 1314, 922, 1167, 963, 2859, 2964, 2308, 2651, 482, 874, 1870, 2908, 41, 2264, 352, 728, 1188, 1926, 1959, 2782, 189, 261, 296, 555, 710, 854, 939, 1200, 1310, 1929, 1977, 2461, 2500, 2688, 2704, 2890, 3312, 301, 307, 308, 314, 562, 641, 730, 801, 820, 830, 919, 920, 930, 1186, 1199, 1202, 1213, 1600, 1672, 1760, 1824, 1942, 2077, 2091, 2275, 2318, 2340, 2399, 2404, 2438, 2551, 2581, 2632, 2650, 2660, 2666, 2672, 2676, 2682, 2687, 2764, 2850, 2927, 3036, 3120, 3134, 3389, 3446, 3458, 3461], 'sample_values': [194, 178, 162, 92, 84, 40, 37, 28, 27, 24, 21, 21, 13, 10, 10, 8, 8, 5, 5, 4, 4, 3, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]}]